extends layout

block content
  header#deck
    if folder
      a(href="/deck")
        i.material-icons arrow_back
    h1 Virtual Deck
  main
    each command, i in commands
      button.deckItem(onclick=(command.type == 'folder') ? "window.location = '/deck/#{i}'" : folder ? "executeCommand(#{i}, #{folder})" : "executeCommand(#{i})")
        img(src=command.image)